:root{
  --montserrat: 'Montserrat';
  --trebuchet: 'Trebuchet';
  --primary-background: #ffffff;
  --secondary-background: #7177F1;
  --primary-text-color: #323232;
  --secondary-text-color: #ffffff;
  --primary-title-color: #7177F1;
  
  
}