:root {
  --montserrat: 'Montserrat';
  --trebuchet: 'Trebuchet';
  --primary-background: #ffffff;
  --secondary-background: #7177F1;
  --primary-text-color: #323232;
  --secondary-text-color: #ffffff;
  --primary-title-color: #7177F1;
}

.body {
  background: var(--primary-background);
}

.header {
  padding-top: 12px;
  padding-bottom: 13px;
}

.logo {
  text-decoration: none;
}

.logo::before {
  content: url(../images/logo-light.png);
}

.logo::after {
  content: url(../images/logo-dark.png);
  display: none;
}



.header__link{
  font-family: var(--montserrat);
  font-size: 24px;
  color: var(--primary-title-color);
  text-decoration: none;
  margin-right: 30px;
}


.header__button{
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-background);
  color: var(--secondary-text-color);
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: none;
  margin-right: 60px;
  border-radius: 8px;
}

.header__button:hover{
  color: var(--secondary-text-color);
  background: var(--secondary-background);
}

.header__phone{
  color: var(--primary-title-color);
  font-size: 25px;
  text-decoration: none;
}

.header__phone::before{
  content: "\f87b";
}

.header__toggler::before{
  content: '\f0c9';
}