:root {
  --montserrat: 'Montserrat';
  --trebuchet: 'Trebuchet';
  --primary-background: #ffffff;
  --secondary-background: #7177F1;
  --primary-text-color: #323232;
  --secondary-text-color: #ffffff;
  --primary-title-color: #7177F1;
  scroll-behavior: smooth;
}

.row{
  --bs-gutter-x: 30px;
}

.body {
  background: var(--primary-background);
}

.header {
  padding-top: 12px;
  padding-bottom: 13px;
}

.logo {
  text-decoration: none;
}

.logo::before {
  content: url(../images/logo-light.png);
}

.logo::after {
  content: url(../images/logo-dark.png);
  display: none;
}



.header__link{
  font-family: var(--montserrat);
  font-size: 24px;
  color: var(--primary-title-color);
  text-decoration: none;
  margin-right: 30px;
}


.header__button{
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-background);
  color: var(--secondary-text-color);
  font-size: 24px;
  text-transform: capitalize;
  text-decoration: none;
  margin-right: 60px;
  border-radius: 8px;
}

.header__button:hover{
  color: var(--secondary-text-color);
  background: var(--secondary-background);
}

.header__phone{
  color: var(--primary-title-color);
  font-size: 25px;
  text-decoration: none;
}

.header__phone::before{
  content: "\f87b";
}

.header__toggler::before{
  content: '\f0c9';
}

/* Intro-block */

.intro{
  position: relative;
  margin-top: 30px;
}

.intro__left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro__description{
  color: var(--primary-text-color);
  text-transform: capitalize;
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 10px;
}

.intro__title{
  color: var(--primary-title-color);
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px; 
}

.intro__button{
  height: 45px;
  background: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--montserrat);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  margin-bottom: 50px;
  align-self: center;
  transition: 0.5s;
}

.intro__button:hover{
  color: var(--primary-text-color);
  background: var(--primary-background);
}

.intro__brands-logo{
  width: 77px;
  margin-bottom: 15px;
}

.intro__brand{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.intro__brands-logo_purple{
  color: #790FF1;
  width: 100px;
}

.intro__brands-name{
  font-weight: 900;
  font-family: var(--montserrat);
  font-size: 20px;
  text-transform: uppercase;
  color: #7177F1;
}

.intro__images{
  position: relative;
  overflow: hidden;
}

.intro__indicators{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
}

.intro__dot{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #828282;
  cursor: pointer;
  transition: 0.5s;
  margin: 0px 15px;
}

.intro__dot.active{
  background: #7177F1;
}

.intro__img{
  height: 100%;
  max-height: 550px;
  width: 100%;
  object-fit: contain;
}

.rectangle_1{
  position: absolute;
  z-index: -1;
  top: 80px;
  left: 100px;
  width: 90px;
  height: 90px;
  border: 5px solid #9297EF;
  transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
}
.rectangle_2{
  position: absolute;
  z-index: -1;
  top: -30px;
  left: 240px;
  width: 90px;
  height: 90px;
  border: 5px solid #790FF1;
  border-radius: 100%;
}
.rectangle_3{
  position: absolute;
  z-index: -1;
  top: 300px;
  right: 300px;
  width: 90px;
  height: 90px;
  border: 5px solid #7177F1;
}
.rectangle_4{
  position: absolute;
  z-index: -1;
  top: 15px;
  right: 160px;
  width: 90px;
  height: 90px;
  border: 5px solid #9297EF;
}

/* about */

.about{
  padding-top: 75px;
  position: relative;
}

.about__left{
  position: relative;
}

.about__word{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 190px;
  height: 65px;
  background: var(--primary-background);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
  top: 15px;
  left: 0;
  color: var(--primary-text-color);
  font-family: var(--montserrat);
  text-transform: uppercase;
}

.about__word::before{
  content: "5+";
  font-size: 18px;
  height: 40px;
  width: 40px;
  background: #0FDAC2;
  font-family: var(--montserrat);
  font-style: italic;
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  right: -10px;
  top: -15px;
}

.about__image{
  max-width: 100%;
}

.about__right{
  background: var(--primary-background);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  padding: 30px;
}

.about__title{
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 25px;
  line-height: 30px;
  text-transform: capitalize;
  color: var(--primary-title-color);
}
.about__text{
  text-transform: capitalize;
  color: var(--primary-text-color);
  font-family: var(--montserrat);
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}

.about__button{
  width: 190px;
  height: 45px;
  background: var(--secondary-background);
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-size: 18px;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: 0.5s;
}

.about__button:hover{
  background: var(--primary-background);
  color: var(--primary-text-color);
}

.about__bg{
  width: 50%;
  position: absolute;
  right: 0;
  top: -400px;
  z-index: -2;
}

/* Capabilities */

.capabilities{
  position: relative;
  padding-top: 75px;
}

.capabilities__title{
  font-size: 40px;
  font-family: var(--montserrat);
  font-weight: 600;
  color: var(--primary-title-color);
  text-align: center;
  line-height: 49px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.capabilities__button{
  width: 100%;
  height: 60px;
  padding: 15px 30px;
  text-align-last: left;
  border: none;
  outline: none;
  font-family: var(--montserrat);
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
  background: #7177F1;
  color: white;
}

.capabilities__button.collapsed{
  background: transparent;
  color: var(--primary-title-color);
}

.capabilities__button.collapsed::after{
  display: block;
}

.capabilities__button::after{
  content: '';
  background: #dddddd;
  height: 1px;
  display: none;
  width: 100%;
  margin-top: 14px;
}

.capabilities__button:focus{
  outline: none;
}

.capabilities__icon{
  height: 100%;
}

.capabilities__left{
  background: var(--primary-background);
  border-radius: 8px;
  overflow: hidden;
}

.capabilities__button.collapsed .capabilities__caret{
  color: #7177F1;
  transform: rotateX(0);
}

.capabilities__caret{
  font-size: 25px;
  color: white;
  margin-left: auto;
  font-weight: 900;
  transform: rotateX(180deg);
  transition: 0.5s;
}

.capabilities__caret::before{
  content: '\f0d8';
}
.accordion-body{
  background: #7177F1;
  padding: 10px 30px 55px;
  color: white;
  font-family: var(--montserrat);
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}

.capabilities__icon_purple{
  height: 30px;
}

.capabilities__icon-block{
  width: 50px;
  height: 100%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
}