:root{
  --montserrat: 'Montserrat';
  --trebuchet: 'Trebuchet';
  --primary-background: #ffffff;
  --secondary-background: #7177F1;
  --primary-text-color: #323232;
  --secondary-text-color: #ffffff;
  --primary-title-color: #7177F1;
}

.body{
  background: var(--primary-background);
}

.logo{
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--trebuchet);
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}

.logo_purple{
  color: var(--primary-title-color);
}

.logo__before-lines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2px;
}

.logo__before-line{
  background: var(--primary-text-color);
  height: 1px;
  width: 27px;
}

.logo__before-lines::before{
  content: "";
  margin-right: -3px;
  height: 1px;
  background: var(--primary-text-color);
  width: 18px;
  margin-bottom: 7.5px;
  align-self: flex-end;
}
.logo__before-lines::after{
  content: "";
  margin-right: 4.5px;
  height: 1px;
  background: var(--primary-text-color);
  width: 36px;
  margin-top: 7.5px;
  align-self: flex-start;
}

.logo__after-lines{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__after-lines::before,
.logo__after-lines::after{
  content: "";
  background: var(--primary-title-color);
  height: 1px;
  width: 27px;
  filter: blur(2px);
}

.logo__after-line{
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background: var(--primary-title-color);
  height: 1px;
  width: 36px;
  filter: blur(20px);
}